.header{
    background-color: white;
    color: snow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.close-button{
    background-color: darkslategray;
    border-color: darkslategrey;
    color: snow;
    border-radius: 10;
}

.close-button:hover{
    background-color: rgb(28, 47, 47);
    border-color: rgb(28, 47, 47);
    color: snow;
    border-radius: 10;
}

.table{
    margin:3rem;
}